*   /* Essa parte do código define um estilo de entrada para os elementos HTML */
    {
        margin: 0; /* A margem sendo zero */
        padding: 0; /* O preenchimento sendo zero */
        box-sizing: border-box;  /* Utilizamos box-sizing para alteração da propriedade padrão da box model e definimos como border-box */
    }
    
    /* Aqui temos a definição de um estilo para o elemento <body> em HTML*/
    body {
        background-image: url(../assets/images/bodybackground.jpg);/* Define uma imagem externa como fundo para o corpo */
        width: 100vw; /* Define a largura como sendo 100% da largura da janela de visualização*/
        height: 100vh; /* A altura sendo 100% da altura da janela de visualização */
        position: relative; /* A posição é relativa ao seu posicionamento pai */
        display: flex; /* Definimos o uso de um modelo de caixa flexível para seu conteúdo */
        justify-content: center; /* ALinha o conteúdo dentro do corpo horizontalmente no centro*/
        align-self: center; /* Centraliza verticalmente o conteúdo dentro do corpo */
    }
    
    /* Estilizando o elemento com o ID "telainicial" */
    #telainicial {
        position: relative; /* Define a posição como relativa ao seu posicionamento pai */
        width: 1150px; /* Largura de 1150 pixels */
        height: 600px; /* Altura de 600 pixels */
        border: 10px groove orangered; /* Define uma borda de 10 pixels na cor "orangered" */
        background-image: url(../assets/images/backgroundred.jpg); 
        margin-top: 40px; /* Define uma imagem externa como fundo */
    }
    
    #title1{
        position: absolute;
        width: 800px;
        top: 0;
        left: 0;  
        right: 0;
        margin: auto
    }
    
    #title2{
        position: absolute;
        width: 600px;
        left: 0;  
        right: 0;
        top: 150px;
        margin: auto
    }
    
    #firebackground{
        position: absolute;
        width: 1130px;
        height: 660px;
        left: 0;  
        right: 0;
        top: 1;
        bottom: 0;
        margin: auto
    }

    #button1{
        background-image: url(../assets/images/firebutton.jpg);
        border: 6px outset black;
        position: absolute;
            cursor:pointer;
        width: 400px;
        height: 100px;
        left: 0;  
        right: 0;
        top: 300px;
        margin: auto
    }
    
    #button1:hover{
        border: 10px outset orange;
    }

    
    #button2{
        background-image: url(../assets/images/firebutton.jpg);
        border: 6px outset black;
        cursor:pointer;
        position: absolute;
        width: 400px;
        height: 100px;
        left: 0;  
        right: 0;
        top: 450px;
        margin: auto
    }
    
    #button2:hover{
        border: 10px outset orange;
    }
    
    canvas {
        background-color: black;
        margin: 0 auto;
    }
    #pong {
        margin-top: 40px;
        border: 10px groove orangered;
    }
    
    .fade-in {
        animation: fadeIn 1s ease-in-out;
        opacity: 1;
    }
    
    @keyframes fadeIn {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }
    .modal {
        display: none;
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.7);
    }

    .modal-content {
        background-color: #fd0505;
        border: 5px outset rgb(236, 108, 3);
        border-radius: 15px;
        margin: 15% auto;
        padding: 20px;
        width: 70%;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        text-align: center;
    }

    .close {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
        cursor: pointer;
    }
    #gameOverBox {
        position: absolute;
        width: 300px;
        height: 200px;
        background-color: #fff;
        border: 2px solid #000;
        text-align: center;
        padding: 20px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1; /* Certifique-se de que está na frente do jogo */
    }
    
    .hidden {
        display: none; /* Oculta o elemento com a classe "hidden" */
    }
    