* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
    
    body {
    width: 100vw;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-self: center;
    }
    
    #telainicial {
    position: relative;
    width: 1150px;
    height: 600px;
    border: 10px groove orangered;
    background-image: url(../assets/images/backgroundred.jpg);
    margin-top: 40px;
    }
    
    #title1{
    position: absolute;
    width: 800px;
    top: 0;
    left: 0;  
    right: 0;
    margin: auto
    }
    
    #title2{
    position: absolute;
    width: 600px;
    left: 0;  
    right: 0;
    top: 150px;
    margin: auto
    }
    
    #firebackground{
    position: absolute;
    width: 1130px;
    height: 700px;
    left: 0;  
    right: 0;
    top: 1;
    bottom: 0;
    margin: auto
    }

    #button1{
    background-image: url(../assets/images/firebutton.jpg);
    border: 6px outset black;
    position: absolute;
    cursor:pointer;
    width: 400px;
    height: 100px;
    left: 0;  
    right: 0;
    top: 300px;
    margin: auto
    }
    
    #button1:hover{
        border: 10px outset orange;
    }

    #button2{
    background-image: url(../assets/images/firebutton.jpg);
    border: 6px outset black;
    cursor:pointer;
    position: absolute;
    width: 400px;
    height: 100px;
    left: 0;  
    right: 0;
    top: 450px;
    margin: auto
    }
    
    #button2:hover{
        border: 10px outset orange;
    }
    
    canvas {
        background-color: black;
        margin: 0 auto;
    }
    #pong {
        margin-top: 40px;
        border: 10px groove orangered;
    }
    
    .fade-in {
        animation: fadeIn 1s ease-in-out;
        opacity: 1;
    }
    
    @keyframes fadeIn {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }
